<div class="container">
    <div class="row bg-white p-3 mb-4">
      <div class="col-lg-9">
        <h1><strong>{{title}}</strong></h1>
      </div>
      <div class="col-lg-3 text-end">
        <button type="button" class="btn btn-outline-danger" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 mb-3 mb-md-0">
            <label for="category" class="form-label">Category:</label>
            <select id="category" class="form-select" [(ngModel)]="selected" name="category" (ngModelChange)="onOptionsSelected()">
              <option [ngValue] = 0 [selected]="">All</option>
              <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="limit" class="form-label">Limit:</label>
            <select id="limit" class="form-select" [(ngModel)]="opcionLimit" (ngModelChange)="onLimitSelected()">
              <option *ngFor="let lt of limit">{{lt}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price | currency }}</td>
            <td>
              <button class="btn btn-sm btn-success" (click)="openMo(content, product.id)">
                <i class="bi bi-eye"></i> Open
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{product.title}}</h4>
      <button type="button" class="btn btn-success" aria-label="Close" (click)="modal.dismiss()">X</button>
    </div>
    <div class="modal-body">
        <div class="text-center">
            <img class="img-fluid rounded mb-3" 
                 src="{{product.image}}" 
                 alt="{{product.title}}"
                 style="max-width: 300px; height: auto;">
          </div>
     
      <p class="text-center fw-bold mb-3">{{product.category}}</p>
      <p>{{product.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <span>Price</span>
        <span class="fw-bold">{{product.price | currency}}</span>
      </div>
    </div>
  </ng-template>